.Main {
  padding: 230px 20px 20px 20px;
  min-height: 100vh;
}

.Heading {
  color: #457b9d;
  font-weight: 700;
  font-size: 23px;
}

.Text {
  color: #457b9d;
  font-size: 18px;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Heading {
    font-size: 28px;
  }

  .Text {
    font-size: 23px;
  }
}