.Container {
    background-color: #d9d9d9;
    border: 2px solid #e63946;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: start;
}

.Text {
  color: #457b9d;
  font-size: 18px;
  width: 100%;
}

.Data {
  color: #1a1a40;
  font-size: 18px;
  width: 100%;
}

.Button {
  text-align: center;
}

.Complete {
  color: #32CD32;
  font-size: 30px;
}

.InComplete {
  color: #e63946;
  font-size: 30px;
}