.NotesContainer {
  background-color: #f1f1f1;
  border: 2px solid #457b9d;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: start;
  color: #457b9d;
  font-weight: 700;
  font-size: 11px;
}

.Note {
  border-bottom: 2px solid #457b9d;
}

.Owner {
  background-color: #f1f1f1;
  border: 2px solid #e63946;
  color: #457b9d;
  border-radius: 10px;
  padding: 8px;
}

.Date {
  padding-left: 15px;
  font-size: 10px;
}

.Text {
  color: #1a1a40;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.NoteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dropdown {
  display: inline-flex;
  text-align: end;
  margin-bottom: 15px;
  
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Owner {
    font-size: 16px;
  }

  .Date {
    font-size: 14px;
  }

  .Text {
    font-size: 16px;
  }
}
