.Button {
  text-align: center;
  /* margin-top: 20px; */
}

.JobButton {
  text-align: center;
  margin-top: 20px;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .JobButton {
    margin-top: 70px;
  }
}
