.FormLabel {
    padding-top: 17px;
    padding-bottom: 17px;
    color: #457b9d;
    font-size: 16px;
    width: 100%;
    height: 65px;
}
  
.FormData {
    color: #1a1a40;
    font-size: 12px;
    width: 100%;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  
    .FormLabel {
      color: #457b9d;
      font-size: 16px;
      height: auto;
    }
  
    .FormData {
      font-size: 16px;
    }
  }