.DataContainer {
  background-color: #d9d9d9;
  border: 2px solid #e63946;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: start;
}

.DropdownContainer{
  text-align: end;
}