.DataContainer {
  background-color: #d9d9d9;
  border: 2px solid #e63946;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: start;
}

.Button {
  text-align: center;
  margin-top: 20px;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Button {
    text-align: center;
    margin-top: 70px;
  }
}
